*{
	scroll-behavior: smooth;
}

#navBar {
	background: none;
}

.navbar-brand {
	font-size: 300%;
	position:absolute;
	margin-top: 3.2%;
	margin-left: 4%;
	color: whitesmoke !important;
}

/*#navbarColor01{
	font-size: 1rem;
}*/

/*.navbar .navbar-nav > li .nav-link ,
.navbar .navbar-brand{
                       color: midnightblue;
                      }*/

/*.nav-link{
	color: whitesmoke !important; 
	font-size: 1.2rem;
}*/

.btn{
cursor:pointer;
    position:relative;
    padding:5px 10px;
    background:none;
    color: whitesmoke !important;
    font-size:1rem;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
}    

.btn:after, .btn:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
}

.btn:after{
        top:-1px;
        left:-1px;
        border-top:3px solid whitesmoke;
        border-left:3px solid whitesmoke;
}

.btn:before{
        bottom:-1px;
        right:-1px;
        border-bottom:3px solid whitesmoke;
        border-right:3px solid whitesmoke;
}


.btn:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;    
}

.btn:hover:before, .btn:hover:after{
    width:110%;
    height:120%;          
}

.landingPage {
	background-color: none;

}

#landingPageImg {
	height: 97%;
	width: 78%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 230px;
	margin-top: 2%;
	z-index: 50;
}

#landingPageSection{
	/*border: solid 3px indigo;*/
	background: url(../images/landingPage_3.jpg);
	background-position: center;
	background-size: cover; 
}

#app {
	/*border: 2px solid salmon;*/
  font-family: 'Montserrat', sans-serif;
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #ff8300;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: .5em;

  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */

  /*animation: glitch-skew 1s infinite linear alternate-reverse;*/
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(53px, 9999px, 21px, 0);
    transform: skew(0.56deg);
  }
  5% {
    clip: rect(62px, 9999px, 89px, 0);
    transform: skew(0.51deg);
  }
  10% {
    clip: rect(88px, 9999px, 51px, 0);
    transform: skew(0.81deg);
  }
  15% {
    clip: rect(14px, 9999px, 94px, 0);
    transform: skew(0.56deg);
  }
  20% {
    clip: rect(59px, 9999px, 29px, 0);
    transform: skew(0.53deg);
  }
  25% {
    clip: rect(2px, 9999px, 56px, 0);
    transform: skew(0.73deg);
  }
  30% {
    clip: rect(37px, 9999px, 5px, 0);
    transform: skew(0.32deg);
  }
  35% {
    clip: rect(74px, 9999px, 57px, 0);
    transform: skew(0.77deg);
  }
  40% {
    clip: rect(58px, 9999px, 24px, 0);
    transform: skew(0.42deg);
  }
  45% {
    clip: rect(59px, 9999px, 24px, 0);
    transform: skew(0.37deg);
  }
  50% {
    clip: rect(61px, 9999px, 24px, 0);
    transform: skew(0.96deg);
  }
  55% {
    clip: rect(42px, 9999px, 20px, 0);
    transform: skew(0.69deg);
  }
  60% {
    clip: rect(50px, 9999px, 12px, 0);
    transform: skew(0.96deg);
  }
  65% {
    clip: rect(75px, 9999px, 9px, 0);
    transform: skew(0.48deg);
  }
  70% {
    clip: rect(86px, 9999px, 33px, 0);
    transform: skew(0.11deg);
  }
  75% {
    clip: rect(76px, 9999px, 53px, 0);
    transform: skew(0.51deg);
  }
  80% {
    clip: rect(70px, 9999px, 57px, 0);
    transform: skew(0.9deg);
  }
  85% {
    clip: rect(24px, 9999px, 24px, 0);
    transform: skew(0.94deg);
  }
  90% {
    clip: rect(73px, 9999px, 8px, 0);
    transform: skew(0.91deg);
  }
  95% {
    clip: rect(62px, 9999px, 2px, 0);
    transform: skew(0.96deg);
  }
  100% {
    clip: rect(61px, 9999px, 99px, 0);
    transform: skew(0.98deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(34px, 9999px, 86px, 0);
    transform: skew(0.38deg);
  }
  5% {
    clip: rect(28px, 9999px, 16px, 0);
    transform: skew(0.82deg);
  }
  10% {
    clip: rect(77px, 9999px, 41px, 0);
    transform: skew(0.5deg);
  }
  15% {
    clip: rect(45px, 9999px, 31px, 0);
    transform: skew(0.59deg);
  }
  20% {
    clip: rect(55px, 9999px, 28px, 0);
    transform: skew(0.07deg);
  }
  25% {
    clip: rect(76px, 9999px, 87px, 0);
    transform: skew(0.61deg);
  }
  30% {
    clip: rect(88px, 9999px, 73px, 0);
    transform: skew(0.23deg);
  }
  35% {
    clip: rect(75px, 9999px, 5px, 0);
    transform: skew(0.44deg);
  }
  40% {
    clip: rect(48px, 9999px, 64px, 0);
    transform: skew(0.18deg);
  }
  45% {
    clip: rect(57px, 9999px, 74px, 0);
    transform: skew(0.12deg);
  }
  50% {
    clip: rect(71px, 9999px, 78px, 0);
    transform: skew(0.42deg);
  }
  55% {
    clip: rect(83px, 9999px, 84px, 0);
    transform: skew(0.79deg);
  }
  60% {
    clip: rect(52px, 9999px, 29px, 0);
    transform: skew(0.92deg);
  }
  65% {
    clip: rect(42px, 9999px, 93px, 0);
    transform: skew(0.12deg);
  }
  70% {
    clip: rect(41px, 9999px, 83px, 0);
    transform: skew(0.1deg);
  }
  75% {
    clip: rect(92px, 9999px, 83px, 0);
    transform: skew(0.61deg);
  }
  80% {
    clip: rect(79px, 9999px, 56px, 0);
    transform: skew(0.73deg);
  }
  85% {
    clip: rect(54px, 9999px, 35px, 0);
    transform: skew(0.88deg);
  }
  90% {
    clip: rect(46px, 9999px, 60px, 0);
    transform: skew(0.95deg);
  }
  95% {
    clip: rect(20px, 9999px, 44px, 0);
    transform: skew(0.44deg);
  }
  100% {
    clip: rect(97px, 9999px, 37px, 0);
    transform: skew(0.66deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(4deg);
  }
  80% {
    transform: skew(-4deg);
  }
  90% {
    transform: skew(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}

.wrapper {
/*  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;*/
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.letter {
  width: 14px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: #ff8300;
}
.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  word-break: break-all;
  background-color: #01031c;
}

.letter:nth-child(1):before {
  content: "1820946735";
  margin-top: -28px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 1.2266666667s;
          animation-duration: 1.2266666667s;
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(2):before {
  content: "5213986470";
  margin-top: -28px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 2.56s;
          animation-duration: 2.56s;
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(3):before {
  content: "7461853092";
  margin-top: -98px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 3.115s;
          animation-duration: 3.115s;
  -webkit-animation-delay: 0.11s;
          animation-delay: 0.11s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -98px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -98px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(4):before {
  content: "5263741089";
  margin-top: -126px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 1.008s;
          animation-duration: 1.008s;
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -126px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -126px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(5):before {
  content: "8642703915";
  margin-top: -56px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 2.784s;
          animation-duration: 2.784s;
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -56px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -56px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(6):before {
  content: "6735291480";
  margin-top: -14px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -14px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -14px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(7):before {
  content: "5130648279";
  margin-top: -14px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 0.48s;
          animation-duration: 0.48s;
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -14px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -14px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(8):before {
  content: "7385214906";
  margin-top: -112px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 2.6666666667s;
          animation-duration: 2.6666666667s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -112px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -112px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(9):before {
  content: "1562408397";
  margin-top: -84px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 1.44s;
          animation-duration: 1.44s;
  -webkit-animation-delay: 0.58s;
          animation-delay: 0.58s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -84px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -84px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(10):before {
  content: "0875364192";
  margin-top: -28px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 0.5066666667s;
          animation-duration: 0.5066666667s;
  -webkit-animation-delay: 0.81s;
          animation-delay: 0.81s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 14px;
  }
}
.letter:nth-child(11):before {
  content: "1043692875";
  margin-top: -70px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 1.1666666667s;
          animation-duration: 1.1666666667s;
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -70px;
  }
  to {
    margin-top: 14px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -70px;
  }
  to {
    margin-top: 14px;
  }
}



.fa {
  padding: 13px;
  /*font-size: 30px;*/
  width: 0px;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
  color: yellow;
}

/* google */
.fa-google {
  /*background: #3B5998;*/
  color: white;
}

/* Facebook */
.fa-facebook {
  /*background: #3B5998;*/
  color: white;
}

/* linkedin */
.fa-linkedin {
  /*background: #55ACEE;*/
  color: white;
}

/*skype*/
.fa-skype {
  /*background: #55ACEE;*/
  color: white;
}

/*yahoo*/
.fa-yahoo {
  /*background: #55ACEE;*/
  color: white;
}



.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  /*font : normal 400 20px/1 'Josefin Sans', sans-serif;*/
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#scrollDown{
	/*border: 2px solid salmon;*/
}

#scrollDown a {
  padding-top: 30px;
}

#scrollDown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 70px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#scrollDown a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollDown 2.3s infinite;
  animation: scrollDown 2.3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 43px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 43px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/*second section*/

#serviceContainer{
	border: 2px solid salmon;
	height: 70vh; 
	width: 50vw;
}

#services {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01010d;
}

.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}

.text {
    background-color: #01010d;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, midnightblue, silver, midnightblue, silver, midnightblue);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 20s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}









/*skills*/


#skills {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
    background-color: #01010d;
}


#skillCube{
	/*border: 2px solid salmon;*/
	height: 65vh;
	width: 25vw;
}

@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }

  @keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }

  .cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
  }

  .cubespinner div {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 250px;
    text-align: center;
    background-color: midnightblue;
    opacity: 50%;
  }

  #faceColor{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: whitesmoke;

  }

  .cubespinner .face1 {
    -webkit-transform: translateZ(125px);
    -moz-transform: translateZ(125px);
    -ms-transform: translateZ(125px);
    transform: translateZ(125px);
  }
  .cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(125px);
    -moz-transform: rotateY(90deg) translateZ(125px);
    -ms-transform: rotateY(90deg) translateZ(125px);
    transform: rotateY(90deg) translateZ(125px);
  }
  .cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
  }
  .cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
  }
  .cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
  }
  .cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(125px);
    -moz-transform: rotateX(-90deg) translateZ(125px);
    -ms-transform: rotateX(-90deg) translateZ(125px);
    transform: rotateX(-90deg) translateZ(125px);
  }
